* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #00111c;
}

.logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}
 .sidenav {
   height: 100%;
   width: 200px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 20px;
 }
 

 .sidenav a, .dropdown-btn, .Logout-btn {
   padding: 15px 8px 15px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #adfda2;
   display: block;
   border: none;
   background: none;
   width:100%;
   text-align: left;
   cursor: pointer;
   outline: none;
 }
 
 

 .sidenav a:hover, .dropdown-btn:hover, .Logout-btn:hover {
   color: #11d3f3;
 }
 

 .main {
   margin-left: 200px; 
   font-size: 20px; 
   padding: 0px 10px;
 }
 
 
 .active {
   background-color: green;
   color: white;
 }
 
 
 .dropdown-container {
   display: none;
   background-color: #262626;
   padding-left: 8px;
   font-size: 16px;
 }
 
 
 .bi-caret-down {
   float: right;
   padding-right: 8px;
 }


/* W3 schools helped to figure margining for mobile device */
@media screen and (max-height: 450px) {
    .Sidebar {padding-top: 15px;}
    .Sidebar a {font-size: 18px;}
}

